

@import url('http://fonts.cdnfonts.com/css/black-rotela-free-personal');

html{
    height: 100%;
    margin: auto;
    width: auto;
    overflow: scroll;
    scroll-behavior: smooth;
    

}

/*Pointer universale*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*Corpo con font Roboto
overflow: hidden; indica al browser
di renderizzare il testo all'interno del
relativo box body e dunque di escludere
tutto ciò che all'esterno di quest'ultimo*/

body{
    font-family: 'Roboto';
    overflow-x: hidden;
    background: white;
    
}

/*stile lista del container ul*/

ul{
    list-style: none;
}

/*opzioni container a*/

a{
    text-decoration: none;
}

/*stile top bar*/

header{
    position: sticky;
    top: 0px;
    
    width: 100%;
    z-index: 1000;
    transition: top 0.3s;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    /*filtro barra trasparente*/
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(20px) saturate(160%) contrast(45%) brightness(140%);
    -webkit-backdrop-filter: blur(20px) saturate(160%) contrast(45%) brightness(140%);
}

/*Filtro barra trasparente*/

@supports (-webkit-backdrop-filter: blur(100px) saturate(160%) contrast(45%) brightness(140%)) or
  (backdrop-filter: blur(100px) saturate(160%) contrast(45%) brightness(140%)) {
  .navbar-b.navbar-reduce {
    transition: all 0.5s ease-in-out;
    padding-top: 60px;
    padding-bottom: 15px;
    background-color: rgba(128,128,128, 0.8);
    backdrop-filter: blur(100px) saturate(160%) contrast(45%) brightness(140%);
    -webkit-backdrop-filter: blur(100px) saturate(160%) contrast(45%) brightness(140%);
  }
}



/*colore sovrapposto allo sfondo*/

.overlay{
    position: relative;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(20, 20, 20, 0);
}

.container{
    max-width: 65rem;
    padding: 0 2rem;
    margin: 0 auto;
    display: flex;
    position: relative;
}

/*container logo*/

.logo-container{
    flex: 0;
    display: flex;
    align-items: center;
}

/*barre di navigazione*/

.nav-btn{
    flex: 3;
    display: flex;
}

.nav-links{
    flex: 2;
}

.log-sign{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

/*stile logo MC2000*/

.logo{
    color: #fff;
    font-size: 1.1rem;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
    line-height: 3rem;
}

.logo span{
    font-weight: 300;
}

.btn{
    display: inline-block;
    padding: .5rem 1.3rem;
    font-size: .8rem;
    border: 2px solid #fff;
    border-radius: 2rem;
    line-height: 1;
    margin: 0 .2rem;
    transition: .3s;
    text-transform: uppercase;
}

/*stile sign / up sign in*/

.btn.solid, .btn.transparent:hover{
    background-color: transparent;
    color: white;
}

.btn.transparent, .btn.solid:hover{
    background-color: transparent;
    color: white;
}

.nav-links > ul{
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-link{
    position: relative;
}

/*testo barra di navigazione*/

.nav-link > a{
    position: relative;
    line-height: 3rem;
    color: white;
    padding: 0 .8rem;
    letter-spacing: 1px;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: .10s;
    
}

.nav-link > a > i{
    margin-left: .2rem;
}

.nav-link:hover > a{
    transform: scale(1.1);
}

.dropdown{
    position: absolute;
    top: 100%;
    left: 0;
    width: 10rem;
    transform: translateY(10px);
    opacity: 0;
    pointer-events: none;
    transition: .5s;
}

.dropdown ul{
    position: relative;
}

/*stile menu a cascata versione computer*/

.dropdown-link > a{
    display: flex;
    background-color: black;
    color: white;
    padding: .5rem 1rem;
    font-size: 1.2rem;
    align-items: center;
    justify-content: space-between;
    transition: .3s;
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(20px) saturate(160%) contrast(45%) brightness(140%);
    -webkit-backdrop-filter: blur(20px) saturate(160%) contrast(45%) brightness(140%);
}

.dropdown-link:hover > a{
    background-color: black;
    color: #fff;
}

.dropdown-link:not(:nth-last-child(2)){
    border-bottom: 1px black;
}

.dropdown-link i{
    transform: rotate(-90deg);
}

/*Colore freccia retro menu a cascata*/

.arrow{
    position: absolute;
    width: 11px;
    height: 11px;
    top: -5.5px;
    left: 32px;
    background-color: transparent;
    transform: rotate(45deg);
    cursor: pointer;
    transition: .3s;
    z-index: -1;
}


/*************************/



.dropdown-link:first-child:hover ~ .arrow{
    background-color: transparent;
    
}

.dropdown-link{
    position: relative;
}

.dropdown.second{
    top: 0;
    left: 100%;
    padding-left: .8rem;
    cursor: pointer;
    transform: translateX(10px);
}

.dropdown.second .arrow{
    top: 10px;
    left: -5.5px;
}

.nav-link:hover > .dropdown,
.dropdown-link:hover > .dropdown{
    transform: translate(0, 0);
    opacity: 1;
    pointer-events: auto;
}

.hamburger-menu-container{
    flex: 1;
    display: none;
    align-items: center;
    justify-content: flex-end;
}

.hamburger-menu{
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.hamburger-menu div{
    width: 1.6rem;
    height: 3px;
    border-radius: 3px;
    background-color: white;
    position: relative;
    z-index: 1001;
    transition: .5s;
}

.hamburger-menu div:before,
.hamburger-menu div:after{
    content: '';
    position: absolute;
    width: inherit;
    height: inherit;
    background-color: white;
    border-radius: 3px;
    transition: .5s;
}

.hamburger-menu div:before{
    transform: translateY(-7px);
}

.hamburger-menu div:after{
    transform: translateY(7px);
}

#check{
    position: absolute;
    top: 50%;
    right: 1.5rem;
    transform: translateY(-50%);
    width: 2.5rem;
    height: 2.5rem;
    z-index: 90000;
    cursor: pointer;
    opacity: 0;
    display: none;
}

#check:checked ~ .hamburger-menu-container .hamburger-menu div{
    background-color: transparent;
}

#check:checked ~ .hamburger-menu-container .hamburger-menu div:before{
    transform: translateY(0) rotate(-45deg);
}

#check:checked ~ .hamburger-menu-container .hamburger-menu div:after{
    transform: translateY(0) rotate(45deg);
}

@keyframes animation{
    from{
        opacity: 0;
        transform: translateY(15px);
    }
    to{
        opacity: 1;
        transform: translateY(0px);
    }
}

@media (max-width: 920px){
    .hamburger-menu-container{
        display: flex;
    }

    #check{
        display: block;
    }

    /*stile navbar smartphone*/
    
    .nav-btn{
        position: fixed;
        height: calc(100vh - 3rem);
        top: 3rem;
        left: 0;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.8);
        backdrop-filter: blur(20px) saturate(160%) contrast(45%) brightness(140%);
        -webkit-backdrop-filter: blur(20px) saturate(160%) contrast(45%) brightness(140%);        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        overflow-x: hidden;
        overflow-y: auto;
        transform: translateX(100%);
        transition: .65s;
    }

    #check:checked ~ .nav-btn{
        transform: translateX(0);
    }

    #check:checked ~ .nav-btn .nav-link,
    #check:checked ~ .nav-btn .log-sign{
        animation: animation .5s ease forwards var(--i);
    }

    .nav-links{
        flex: initial;
        width: 100%;
    }

    .nav-links > ul{
        flex-direction: column;
    }

    .nav-link{
        width: 100%;
        opacity: 0;
        transform: translateY(15px);
    }

    .nav-link > a{
        line-height: 1;
        padding: 1.6rem 2rem;
    }

    .nav-link:hover > a{
        transform: scale(1);
        background-color: #857D72;
    }

    .dropdown, .dropdown.second{
        position: initial;
        top: initial;
        left: initial;
        transform: initial;
        opacity: 1;
        pointer-events: auto;
        width: 100%;
        padding: 0;
        background-color: #857D72;
        display: none;
    }

    .nav-link:hover > .dropdown,
    .dropdown-link:hover > .dropdown{
        display: block;
    }

    .nav-link:hover > a > i,
    .dropdown-link:hover > a > i{
        transform: rotate(360deg);
    }

    .dropdown-link > a{
        background-color: transparent;
        color: white;
        padding: 1.2rem 2rem;
        line-height: 1;
    }

    .dropdown.second .dropdown-link > a{
        padding: 1.2rem 2rem 1.2rem 3rem;
    }

    .dropdown.second .dropdown.second .dropdown-link > a{
        padding: 1.2rem 2rem 1.2rem 4rem;
    }

    .dropdown-link:not(:nth-last-child(2)){
        border-bottom: none;
    }

    .arrow{
        z-index: 1;
        background-color: white;
        left: 10%;
        transform: scale(1.1) rotate(45deg);
        transition: .5s;
    }

    .nav-link:hover .arrow{
        background-color: transparent;
    }

    .dropdown .dropdown .arrow{
        display: none;
    }

    .dropdown-link:hover > a{
        
        background-color: rgba(255,69,0, 0.8);
    backdrop-filter: blur(20px) saturate(160%) contrast(45%) brightness(140%);
    -webkit-backdrop-filter: blur(20px) saturate(160%) contrast(45%) brightness(140%);
    }

    .dropdown-link:first-child:hover ~ .arrow{
        background-color: transparent;
    }

    .nav-link > a > i{
        font-size: 1.1rem;
        transform: rotate(-90deg);
        transition: .7s;
    }

    .dropdown i{
        font-size: 1rem;
        transition: .7s;
    }

    .log-sign{
        flex: initial;
        width: 100%;
        padding: 1.5rem 1.9rem;
        justify-content: flex-start;
        opacity: 0;
        transform: translateY(15px);
    }
}

/*Animazioni di scroll nuova pagina + box*/

section{
  min-height: 101vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

p {
  margin-top: 1vh;
  margin-bottom: 55px;
  color: white;
}

section .container{
  margin: auto;
  display: flex;
  min-height: 43vh;
  max-height: 50vh;
  position: relative;
  justify-content: center;
 
  
}

section .text-container{
   display: flex;
}
section .text-container .text-box{
  margin: 10px;
  padding: 50px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(20px) saturate(160%) contrast(45%) brightness(140%);
  -webkit-backdrop-filter: blur(20px) saturate(160%) contrast(45%) brightness(140%);
}

section .text-container .text-box h3{
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom:   0px;
  color: white;
}

@media (max-width: 920px){
  section h1{
    font-size: 2rem;
    text-align: center;
  }
  section .text-container{
    flex-direction: column;
  }
}

.reveal{
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 1s all ease;
}

.reveal.active{
  transform: translateY(0);
  opacity: 1;
}

/*Scrollbar*/

  body::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}



* {
	box-sizing: border-box;}



/***halfimagehalftext**/


.fo-container5 {
  display: flex;
  height: 100vh;
}

.left-half5 {
  background-image: url("immagini/chisiamo2.jpg"); /* change back to whatever background image you want */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  flex: 0 0 50%; /* flex-basis: 50% */
  
}

.right-half5 {
  flex: 0 0 50%; /* flex-basis: 50% */
  line-height: 2cm;
  padding: 2em;
  box-sizing: border-box; /* make sure 50% is still 50% after you add padding */
  overflow-y: hidden; /* scrollability here */
  font-size: 30px;
  align-items: center;
  font-weight: 500;
  
     background-color: white;

}

@media screen and (max-width: 1250px) {
  .right-half5 {
    line-height: 0.8cm;
    font-size: 12px;
  }
}


.rr5 {
  background-image: url("immagini/chisiamo1.jpg"); /* change back to whatever background image you want */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  flex: 0 0 50%; /* flex-basis: 50% */
  
}